################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/Debug
/Aimforconplete-TDD/Debug
/Aimforcomplete/Debug/Aimforcomplete.tlog
/Aimforcomplete/Debug
/.vs/Aimforcomplete/v15
